* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #040404;
}
a {
  background-color: rgba(67, 27, 5, 0.73);
  color: #ffffff;
  border-radius: 0.3rem;
}
input {
  background-color: rgba(17, 17, 17, 0.15);
  font-size: 1rem;
}
textarea {
  background-color: rgba(17, 17, 17, 0.15);
  font-size: 1rem;
}
select {
  background-color: rgba(17, 17, 17, 0.15);
  font-size: 1rem;
}
.App {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-image: url("https://storage.needpix.com/rsynced_images/aerial-3246120_1280.jpg");
  color: #040404;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  padding: 1rem;
  display: flex;
  align-items: center;
  max-width: 50rem;
  margin: 0 auto;
  border: double 10px rgba(17, 17, 17, 0.9);
  border-radius: 0.7rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: #040404;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    color: rgba(17, 17, 17, 0.7);
  }
  .links {
    margin-left: auto;
  }
  a {
    margin-left: 0.7rem;
    text-decoration: none;
    padding: 0.6rem;
    background-color: rgba(67, 27, 5, 0.73);
    &:hover {
      color: #040404;
      box-shadow: 8px 5px 5px rgba(0,0,0,0.1);
      font-weight: bold;
      transition: 0.5s;
      padding: 0.7rem;
    }
  }
}
.content {
  max-width: 40rem;
  max-height: 50rem;
  margin: 3rem auto;
  padding: 1.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  opacity: 0.9;
  border: double 10px rgba(17, 17, 17, 0.9);
}
.blog-preview {
  padding: 0.7rem 1rem;
  margin: 1rem 0;
  border: 2px solid rgba(17, 17, 17, 0.5);
  border-radius: 0.5rem;
  &:hover {
    box-shadow: 9px 6px 6px rgba(0,0,0,0.1);
    transition: 0.5s;
    padding: 0.8rem;
    left: auto;
    border-radius: 0.6rem;
    background-color: rgba(139, 133, 133, 0.43);
    border: 3px solid rgba(67, 27, 5, 0.73);
  }
  h2 {
    font-size: 1.5rem;
    color: rgba(17, 17, 17, 0.85);
    margin-bottom: 0.5rem;
  }
  a {
    text-decoration: none;
  }
}
.blog-details {
  h2 {
    font-size: 1.3rem;
    color: rgb(43, 29, 6);
    margin-bottom: 0.7rem;
  }
  div {
    margin: 1.3rem 0;
  }
  button {
    background: rgba(67, 27, 5, 0.73);
    color: #040404;
    border: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
  }
}
.create {
  max-width: 25rem;
  margin: 0 auto;
  text-align: center;
  label {
    text-align: left;
    display: block;
  }
  h2 {
    font-size: 1.6rem;
    border-bottom: 3px solid #ffffff;
    color: rgba(17, 17, 17, 0.9);
    margin-bottom: 2rem;
  }
  input {
    width: 100%;
    padding: 0.3rem 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid rgba(43, 29, 6, 0.68);
    box-sizing: border-box;
    display: block;
  }
  textarea {
    width: 100%;
    padding: 0.3rem 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid rgba(43, 29, 6, 0.68);
    box-sizing: border-box;
    display: block;
  }
  select {
    width: 100%;
    padding: 0.3rem 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid rgba(43, 29, 6, 0.68);
    box-sizing: border-box;
    display: block;
  }
  button {
    background: rgba(67, 27, 5, 0.73);
    color: #ffffff;
    border: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      color: #040404;
      box-shadow: 8px 5px 5px rgba(0,0,0,0.1);
      font-weight: bold;
      transition: 0.5s;
    }
  }
}
