* {
  margin: 0;
  font-family: "Roboto Light";
  color: rgba(17, 17, 17, 0.5);
}
body {
  background-color: rgba(255, 255, 255, 0.89);
  background-color: #ffffff;
}
a {
  background-color: #057905;
  color: #fff;
  border-radius: 0.3rem;
}
.App {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
.navbar {
  padding: 1rem;
  display: flex;
  align-items: center;
  max-width: 50rem;
  margin: 0 auto;
  border: double 10px rgba(255, 255, 255, 0.7);
  border-radius: 0.7rem;
  background-color: rgba(197, 197, 169, 0.21);
}
.navbar h1 {
  color: #057905;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 0.7rem;
  text-decoration: none;
  padding: 0.6rem;
}
.navbar a:hover {
  color: #040404;
  box-shadow: 8px 5px 5px rgba(0,0,0,0.1);
  font-weight: bold;
  transition: 0.5s;
  padding: 0.7rem;
}
.content {
  max-width: 40rem;
  max-height: 50rem;
  margin: 3rem auto;
  padding: 1.5rem;
  background-color: rgba(197, 197, 169, 0.21);
  border-radius: 0.5rem;
  opacity: 0.9;
  border: double 10px rgba(255, 255, 255, 0.7)
}
.blog-preview {
  padding: 0.7rem 1rem;
  margin: 1rem 0;
  border: 2px solid #057905;
  border-radius: 0.5rem;
}
.blog-preview:hover {
  box-shadow: 9px 6px 6px rgba(0,0,0,0.1);
  transition: 0.5s;
  padding: 0.8rem;
  left: auto ;
  border-radius: 0.6rem;
  background-color: rgba(197, 197, 169, 0.15);
  border: 3px solid #055f05;

}
.blog-preview h2 {
  font-size: 1.5rem;
  color: #057905;
  margin-bottom: 0.5rem;
}
.blog-preview a{
  text-decoration: none;

}
.blog-details h2 {
  font-size: 1.3rem;
  color: #057905;
  margin-bottom: 0.7rem;
}
.blog-details div {
  margin: 1.3rem 0;
}
.blog-details button {
  background: #057905;
  color: #fff;
  border: 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.5s
}
.create {
  max-width: 25rem;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 1.6rem;
  color: #057905;
  margin-bottom: 2rem;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 0.3rem 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #057905;
  color: #fff;
  border: 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.5s
}
.create button:hover {
  color: #040404;
  box-shadow: 8px 5px 5px rgba(0,0,0,0.1);
  font-weight: bold;
  transition: 0.5s
}


